venv/
wandb/
models/pose_landmarker_heavy.task
__pycache__/
*.pyc
*.pyo
*.pyd
synth_arrays/par_9.npz
synth_arrays/par_8.npz
synth_arrays/par_7.npz
synth_arrays/par_6.npz
synth_arrays/par_5.npz
synth_arrays/par_26.npz
synth_arrays/par_25.npz
synth_arrays/par_24.npz
synth_arrays/par_22.npz
synth_arrays/par_21.npz
synth_arrays/par_20.npz
synth_arrays/par_18.npz
synth_arrays/par_17.npz
synth_arrays/par_16.npz
synth_arrays/par_10.npz
morph_dataset/par_9_mediapipe_dataset.pth
morph_dataset/par_8_mediapipe_dataset.pth
morph_dataset/par_7_mediapipe_dataset.pth
morph_dataset/par_6_mediapipe_dataset.pth
morph_dataset/par_5_mediapipe_dataset.pth
morph_dataset/par_26_mediapipe_dataset.pth
morph_dataset/par_25_mediapipe_dataset.pth
morph_dataset/par_24_mediapipe_dataset.pth
morph_dataset/par_22_mediapipe_dataset.pth
morph_dataset/par_21_mediapipe_dataset.pth
morph_dataset/par_20_mediapipe_dataset.pth
morph_dataset/par_18_mediapipe_dataset.pth
morph_dataset/par_17_mediapipe_dataset.pth
morph_dataset/par_16_mediapipe_dataset.pth
morph_dataset/par_10_mediapipe_dataset.pth
skeletonMorphing/.DS_Store
.DS_Store
skeletonMorphing/synthetic_experiment_out/pure_linear_all_ground_truths.npy
skeletonMorphing/synthetic_experiment_out/pure_linear_all_hpe_truths.npy
skeletonMorphing/synthetic_experiment_out/pure_linear_all_predictions.npy
